%form{:action => "/game/#{@game.id}/join", :method => "post"}
  %p Rules: #{@game.rules}
  - unless @invitation.nil?
    %input{:name => "invitation_token", :type => "hidden", :value => @invitation.token}/
  - if @invitation.nil? || @invitation.name.nil?
    %fieldset.form-group
      %label Name
      %input.form-control{:name => "name", :placeholder => "You in-game name", :type => "text"}/
  - else
    %fieldset.form-group
      %label Your user name (set by admin): #{@invitation.name}
  /%fieldset.form-group
  /  %label Email
  /  %input.form-control{:name => "email", :placeholder => "me@you.com", :type => "text"}/
  /  %small.text-muted We'll only use your Email to send your activation link.
  /%fieldset.form-group
  /  %label.center-block{:style => "text-align: center"} Upload image here!
  /  %input{:name => "image_url", :type => "hidden", :value => "image.url.com"}/

  %button.btn.btn-lg.btn-primary.center-block{:type => "submit"} Join
