%form{:action => "/game/join", :method => "get"}
  %fieldset.form-group{:class => "#{'has-danger' unless params[:error].nil?}"}
    %label.form-control-label
      - if params[:error].nil?
        ="Game ID (ask your game admin for the join/invitation link!)"
      - else
        ="Game ID (#{params[:error]} - contact your game admin!)"
    %input.form-control.form-control-danger{:name => "id", :placeholder => "A1234", :type => "text"}/
  %button.btn.btn-lg.btn-primary.center-block{:type => "submit"} Join
