%h2{:style => "text-align: center"} Create a new Game
%form
  %fieldset.form-group
    %label Name
    %input.form-control{:placeholder => "The ultimate Game", :type => "text"}/
  %fieldset.form-group
    %label Rules
    %textarea.form-control{:placeholder => "Use your full name!", :required => "", :rows => "2"}
    %textarea.form-control{:placeholder => "Only a tap with a wooden spoon counts as a successful Assassination!", :required => "", :rows => "2"}
    %textarea.form-control{:placeholder => "The game only takes place in the office!", :required => "", :rows => "2"}
    %textarea.form-control{:placeholder => "Do not actually kill somebody!", :required => "", :rows => "2"}
  %button.btn.btn-primary.center-block{:type => "submit"} Create
