%h2{:style => "text-align: center"} Welcome
%div{:class => "row"}
.row
  %a.btn.btn-lg.btn-primary.center-block{:href => "/create"} Create Game
.row{:style => "padding-top: 10px"}
  %a.btn.btn-lg.btn-primary.center-block{:href => "/join"} Join Game
.row{:style => "padding-top: 10px"}
  %a.btn.btn-lg.btn-primary.center-block{:href => "https://en.wikipedia.org/wiki/Assassin_(game)", :target => "_blank"} What is Assassin?
