%div{:style => "width: 100%;text-align: center;"}
  %div{:style => "display: inline-block;"}
    %a.label{:href => "/game/create"}
      .card.bg-primary.index-card
        %img.img-center.card-img-top.img-invert.index-card-img{:src => image_url('flaticon/plus-sign-in-a-black-circle.png')}/
        .card-block
          %h6.text-center Create Game
    %a.label{:href => "/game/join"}
      .card.bg-primary.index-card
        %img.img-center.card-img-top.img-invert.index-card-img{:src => image_url('flaticon/arrow-pointing-right-in-a-circle.png')}/
        .card-block
          %h6.text-center Join game
    %a.label{:href => "https://en.wikipedia.org/wiki/Assassin_(game)", :target => "_blank"}
      .card.bg-primary.index-card
        %img.img-center.card-img-top.img-invert.index-card-img{:src => image_url('flaticon/question-mark-on-a-circular-black-background.png')}/
        .card-block
          %h6.text-center Help
